*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --color-main: #fdba29;
    --color-sub: #eb285d;
    --color-background: #212226;
    --color-shadow: #00000099;
    --clr: #222327;
    --body-padding-side: 20px;
}
body{
    max-width: 1920px;
    background-color: var(--color-background);
    padding: 0 var(--body-padding-side);
}