#nav{
    width: 400px;
    height: 70px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    position: absolute;
    top: calc(100vh - 80px);
    left: calc(50vw - 200px);
    box-shadow: 0px 10px 20px 4px var(--color-shadow);
}
#nav ul{
    display: flex;
    width: 350px;
}
#nav li{
    position: relative;
    list-style: none;
    width: 70px;
    height: 70px;
    z-index: 1;
}
#nav a{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    text-align: center;
    font-weight: 500;
}
#nav .icon{
    position: relative;
    display: block;
    line-height: 75px;
    font-size: 1.5em;
    text-align: center;
    transition: .5s;
    color: var(--clr);
}
#nav .icon svg{
    width: 24px;
    height: 24px;
}
#nav li.active .icon{
    transform: translateY(-35px);
}
#nav .text{
    position: absolute;
    color: var(--clr);
    font-weight: 800;
    font-size: .75em;
    letter-spacing: .05em;
    transition: .5s;
    opacity: 0;
    transform: translateY(20px);
}
#nav li.active .text{
    opacity: 1;
    transform: translateY(10px);
}
#nav #indicator{
    position: absolute;
    top: -50%;
    width: 70px;
    height: 70px;
    background: var(--color-main);
    border-radius: 50%;
    border: 6px solid var(--color-background);
    transition: .5s;
}
#nav #indicator::before{
    content: '';
    position: absolute;
    top: 50%;
    left: -22px;
    width: 20px;
    height: 20px;
    background: transparent;
    border-top-right-radius: 20px;
    box-shadow: 1px -10px 0 0 var(--color-background);
}
#nav #indicator::after{
    content: '';
    position: absolute;
    top: 50%;
    right: -22px;
    width: 20px;
    height: 20px;
    background: transparent;
    border-top-left-radius: 20px;
    box-shadow: -1px -10px 0 0 var(--color-background);
}
#nav li:nth-child(1).active ~ #indicator{
    transform: translateX(calc(70px * 0));
}
#nav li:nth-child(2).active ~ #indicator{
    transform: translateX(calc(70px * 1));
}
#nav li:nth-child(3).active ~ #indicator{
    transform: translateX(calc(70px * 2));
}
#nav li:nth-child(4).active ~ #indicator{
    transform: translateX(calc(70px * 3));
}
#nav li:nth-child(5).active ~ #indicator{
    transform: translateX(calc(70px * 4));
}