#back{
    position: absolute;
    top: 470px;
    left: 170px;
    width: 300px;
    height: 60px;
    border-radius: 20px;
    color: #fff;
    text-align: center;
    font-size: 40px;
    line-height: 140%;
    background-color: #626263;
    transition: .5s;
}
#back.fix{
    top: 410px;
    left: 170px;
    cursor: pointer;
}
#music{
    position: absolute;
    left: 1280px;
    top: 0;
    width: 620px;
    height: 470px;
    border-top: 2px solid #98989b;
    border-bottom: 2px solid #98989b;
    transition: .5s;
    overflow: scroll;
}
#music::-webkit-scrollbar{
    display: none;
}
#music.fix{
    left: 490px;
    top: 0;
    background-color: #2d2d31;
}
#music ul li.song{
    list-style: none;
    background-color: #333335;
    height: 64px;
    width: 620px;
    display: flex;
    padding: 8px;
    position: relative;
}
#music ul li.song:nth-child(2n){
    background-color: #232325;
}
#music ul li.song canvas{
    display: none;
}
#music ul li.song .player,
#music ul li.song .progress{
    display: none;
}
#music ul li.song.active{
    height: 66px;
}
#music ul li.song.active .progress{
    -webkit-appearance: none;
    display: block;
    width: 100%;
    height: 2px;
    background-color: #828286;
    cursor: pointer;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 2;
}
#music ul li.song.active .progress::-webkit-slider-thumb{
    -webkit-appearance: none;
    background-color: var(--color-main);
    width: 10px;
    height: 10px;
    border-radius: 50%;
    box-shadow: 0 5px 5px rgba(71, 71, 71, 0.22);
}
#music ul li.song.active canvas{
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
}
#music ul li.song .cover{
    width: 48px;
    height: 48px;
    border-radius: 8px;
    overflow: hidden;
    position: relative;
    filter: grayscale(.6) brightness(.6);
    margin-right: 12px;
    z-index: 1;
}
#music ul li.song.active .cover,
#music ul li.song:hover .cover{
    filter: grayscale(0) brightness(1);
}
#music ul li.song .cover img{
    width: 102%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#music ul li.song .id{
    font-weight: 800;
    z-index: 1;
}
#music ul li.song .id .title{
    color: #000;
    font-size: 20px;
    line-height: 160%;
}
#music ul li.song:not(.active):hover .title{
    color: #d9d9db;
}
#music ul li.song .id .album{
    color: #050505;
    font-size: 14px;
    line-height: 120%;
}
#music ul li.song:not(.active):hover .album{
    color: #949496;
  vertical-align: top;
}
#music ul li.song .function{
    position: absolute;
    right: 16px;
    z-index: 1;
}
#music ul li.song .function ul{
    display: flex;
    height: 48px;
    padding: 10px 0;
    gap: 8px;
}
#music ul li.song .function ul li{
    list-style: none;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
#music ul li.song .function ul li .ion-icon{
    color: #656368;
    font-size: 28px;
}
#music ul li.song .function ul li .ion-icon:hover{
    color: #fff;
}